/* App.css */
.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.nav-component {
  width: 100%;
  background-color: #f8f9fa;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.main-content {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Adjust to ensure space for the navigation bar */
}

.left-side {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.right-side {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}
