.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px; /* Added padding for better spacing */
}

.App-link {
  color: #61dafb;
  text-decoration: none; /* Added to remove underline */
  font-weight: bold; /* Make links more prominent */
}

.App-link:hover {
  text-decoration: underline; /* Underline on hover for better UX */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Responsive Design Adjustments */
@media (max-width: 768px) {
  .App-header {
    font-size: calc(8px + 2vmin); /* Adjust font size for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .App-logo {
    height: 30vmin; /* Adjust logo size for smaller screens */
  }
}
